<div class="span16">

	<h1>My recipes</h1>

	<table class="zebra-striped">
		<thead>
		  <tr>
		    <th class="span4">Name</th>
		    <th class="span7">Content</th>
		    <th class="span5"></th>
		  </tr>
		</thead>
		<tbody>
			<% @recipes.each do |recipe| %>
			  <tr>
			    <td><%= recipe.name %></td>
			    <td><%= recipe.content %></td>
			    <td>
						<%= render :partial => 'buttons', :locals => { :recipe => recipe } %>
					</td>
			  </tr>
			<% end %>
		</tbody>
	</table>

	<br />	
</div>

