<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
	<div class="row">
	<div class="span5">
		<h2>Do you love to brew as much as we do?</h2>
		<p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
	</div>
	<div class="pull-right">
		<%= image_tag "intro1.png", :size => "480x280" %>
	</div>
	</div>
</div>